.sidebar{
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 4px 1px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.NavMenu{
    text-decoration: none;  
    color:black;
    font-weight: bold;
    font-size: 17.5px;
}

.Menu li{
    margin-left:1.6rem;
}

.bi-gear{
    color:#0558df;
}

.bi-hypnotize{
    color: rgb(213, 20, 238);
}

.bi-gear-wide-connected{
    color: chocolate;
}

.bi-file-bar-graph{
    color: deeppink;
}

.bi-apple{
    color: rgb(32, 31, 31);
}

